Source: php-hypernode
Section: php
Priority: optional
Maintainer: Maarten van Schaik <maarten@byte.nl>
Build-Depends:
  debhelper (>= 9),
  dh-php (>= 0.10),
  php-common,
  php5-dev
Standards-Version: 3.9.5
Vcs-Git: git@github.com:ByteInternet/php-hypernode.git
Vcs-Browser: https://github.com/ByteInternet/php-hypernode

Package: php-hypernode
Architecture: any
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
