Source: php-hypernode
Section: php
Priority: optional
Maintainer: Hypernode Tech Team <tech.team@hypernode.com>
Build-Depends:
  debhelper (>= 10~),
  dh-php (>= 4~),
  php5.6-dev,
  php7.0-dev,
  php7.1-dev,
  php7.2-dev,
  php7.3-dev,
  php7.4-dev,
  php8.0-dev,
  php8.1-dev,
  php8.2-dev,
  php8.3-dev,
  php8.4-dev
Standards-Version: 4.5.1
Vcs-Git: git@github.com:ByteInternet/php-hypernode.git
Vcs-Browser: https://github.com/ByteInternet/php-hypernode

Package: php-hypernode
Architecture: any
Pre-Depends: php-common (>= 2:69~)
Depends: ${misc:Depends},
         ${pecl:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Provides: ${pecl:Provides},
          ${php:Provides}
Suggests: ${pecl:Suggests}
Description: PHP extension for closing hanging connections on Hypernode
 This extension makes PHP FPM close connections for clients that have
 already closed their connection to Nginx. This is to prevent the FPM
 queue from clogging and/or doing unnecessary work.
